<div id="main" class="col-md-12">
  <dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,0.4)"
    [position]="{ of: '#main' }"
    [(visible)]="loadingVisible"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [closeOnOutsideClick]="false"
    (onShown)="onShown()"
    (onHidden)="onHidden()">
</dx-load-panel>
  <div class="row">
    <div *ngIf="securityMessage" class="alert alert-danger">
        {{securityMessage}}
    </div>
    <div *ngIf="globals.isAdmin" class="col-md-9">
        <div class="col-md-1 dx-field-label">Batch:</div>
        <div class="col-md-2 float-left dx-field-value">
          <dx-select-box [dataSource]="fileUploadLogs" displayExpr="BatchName" valueExpr="Id" [value]="currentBatchId" (onSelectionChanged)="onBatchRequestSelected($event)"></dx-select-box>
        </div>
    </div>
    <div *ngIf="!securityMessage" class="col-md-3">
      <div class="float-right dx-field-label">Record Count ({{paRequests?.length}})</div>
    </div>
  </div>
  <div *ngIf="globals.isAdmin" class="row">
    <div class="col-md-6">
        <div class="col-md-2 dx-field-label" matTooltip="Select Records Below to Assign"
        matTooltipPosition="right">Assign Selected To:</div>
        <div class="col-md-4 float-left dx-field-value">
          <dx-select-box [dataSource]="users" displayExpr="UserName" valueExpr="UserName" 
                        [(value)]="selectedUser" 
                        itemTemplate="item">
                        <div *dxTemplate="let data of 'item'">
                          {{data.FirstName}} {{data.LastName}} ({{data.UserName}})
                        </div>
                      </dx-select-box> 
        </div>
        <input type="button" class="btn btn-secondary" value="Apply" *ngIf="selectedItemKeys.length > 0" 
          (click)="batchAssign($event)">
      </div>
  </div>
  <dx-data-grid #targetDataGrid id="gridContainer" [dataSource]="paRequests" [allowColumnReordering]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
    (onContentReady)="onContentReady($event)" (onCellPrepared)="onCellPrepared($event)" (onRowPrepared)="onRowPrepared($event)" [height]="setHeight()"
    (onInitNewRow)="initRecord($event)" (onRowUpdating)="updateRecord($event)" (onRowInserting)="addRecord($event)" 
    (onSelectionChanged)="selectionChanged($event)"  (onEditorPreparing)="onEditorPreparing($event)" (onEditingStart)="onEditingStart($event)">
    <dxo-selection
            mode="multiple"
        ></dxo-selection>
    <dxo-filter-row 
          [visible]="true"></dxo-filter-row>
    <dxo-scrolling mode="infinite"></dxo-scrolling>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-export [enabled]="true" fileName="prescription_approvals" [allowExportSelectedData]="false"></dxo-export>
    <dxi-column dataField="Id" caption="Id" dataType="number" [visible]="false" [allowEditing]="false"></dxi-column>
    <dxi-column dataField="FileUploadLogId" caption="BatchId" dataType="string" [visible]="false" [allowEditing]="false"></dxi-column>
    <dxi-column dataField="Submitted" caption="Date Submitted" dataType="date" [visible]="false" [allowEditing]="globals.isAdmin"></dxi-column>
    <dxi-column dataField="AssignedToId" caption="Assigned To" dataType="number" [visible]="true" [allowEditing]="globals.isAdmin">
      <dxo-lookup [dataSource]="users" valueExpr="Id" displayExpr="UserName">
      </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="RequestReassign" caption="Reassign" dataType="boolean" [visible]="true"></dxi-column>
    <dxi-column dataField="DoctorName" caption="Physician" dataType="string" [visible]="true" [allowEditing]="globals.isAdmin"></dxi-column>
    <dxi-column dataField="PatientName" caption="Patient" dataType="string" [visible]="true" [allowEditing]="globals.isAdmin"></dxi-column>
    <dxi-column dataField="DrugName" caption="RX" dataType="string" [visible]="true" [allowEditing]="globals.isAdmin"></dxi-column>
    <dxi-column dataField="InsuranceCompany_Id" caption="Insurance" dataType="number" [visible]="true">
      <dxo-lookup [dataSource]="insuranceLookup" valueExpr="Id" displayExpr="CompanyName">
      </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="AutomobileRelated" caption="Auto" dataType="boolean" [visible]="true"></dxi-column>
    <dxi-column dataField="NonMeds" caption="NonMeds" dataType="boolean" [visible]="true"></dxi-column>
    <dxi-column dataField="Priority" caption="Priority" dataType="boolean" [visible]="true" [allowEditing]="globals.isAdmin"></dxi-column>
    <dxi-column dataField="Completed" caption="Completed?" dataType="boolean" [visible]="true"></dxi-column>
    <dxi-column dataField="CompletedTimeStamp" caption="Date Completed" dataType="date" [visible]="false" [allowEditing]="false"></dxi-column>
    <dxi-column dataField="Status" caption="Status" dataType="number" [visible]="true">
      <dxo-lookup [dataSource]="statusLookup" valueExpr="Id" displayExpr="LookupValue">
      </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="BillingStatus" caption="Billing Status" dataType="number" [visible]="true" [allowEditing]="globals.isAdmin">
        <dxo-lookup [dataSource]="billingStatusLookup" valueExpr="Id" displayExpr="LookupValue">
        </dxo-lookup>
      </dxi-column>
    <dxi-column dataField="Note" caption="Initial Notes" dataType="string" [visible]="true" [allowEditing]="false"></dxi-column>
    <dxi-column dataField="Approval" caption="Approval Date" dataType="date" [visible]="true"></dxi-column>
    <dxi-column dataField="ApprovalDocumentUrl" caption="Approval Doc" dataType="string" [visible]="true" [width]="300" cellTemplate="linkTemplate"></dxi-column>
    <dxi-column dataField="Denial" caption="Denial Date" dataType="date" [visible]="true"></dxi-column>
    <dxi-column dataField="CreatedBy" caption="Created By" dataType="string" [visible]="false" [allowEditing]="false"></dxi-column>
    <div *dxTemplate="let data of 'linkTemplate'">
      <a [href]="data.value" target="_blank">{{data.value}}</a>
    </div>
    <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>
    <div *dxTemplate="let request of 'detail'">
        <div>Notes:</div>
        <app-pa-notes-detail [key]="request.data.Id"></app-pa-notes-detail>
    </div>
    <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="false" [allowAdding]="globals.isAdmin">
      <dxo-popup title="Edit" [showTitle]="false" [width]="900" [height]="700">
      </dxo-popup>
      <dxo-form colCount="2">
        <dxi-item itemType="group" caption="General">
          <dxi-item dataField="Submitted"></dxi-item>
          <dxi-item dataField="DoctorName"></dxi-item>
          <dxi-item dataField="PatientName"></dxi-item>
          <dxi-item dataField="DrugName"></dxi-item>
          <dxi-item dataField="CreatedBy"></dxi-item>
          <dxi-item dataField="RequestReassign"></dxi-item>
          <dxi-item dataField="BillingStatus"></dxi-item>
        </dxi-item>
        <dxi-item itemType="group" caption="Tracking Details">
          <dxi-item dataField="AssignedToId"></dxi-item>
          <dxi-item dataField="Priority"></dxi-item>
          <dxi-item dataField="Status"></dxi-item>
          <dxi-item dataField="NonMeds"></dxi-item>
          <dxi-item dataField="AutomobileRelated"></dxi-item>
          <dxi-item dataField="InsuranceCompany_Id"></dxi-item>
          <dxi-item dataField="Approval"></dxi-item>
          <dxi-item dataField="Denial"></dxi-item>
          <dxi-item dataField="Completed"></dxi-item>
        </dxi-item>
        <dxi-item [colSpan]="2" dataField="ApprovalDocumentUrl"></dxi-item>
        <dxi-item dataField="Note" [colSpan]="2"></dxi-item>
      </dxo-form> 
    </dxo-editing>
  </dx-data-grid>
</div>