<div class="container-fluid">
    <h3>Reporting Dashboard</h3>
    <hr>
    <mat-tab-group [dynamicHeight]="true">
      <mat-tab label="Status">
          <div class="row">
              <div class="col-md-12">
                <app-pa-rpt-status></app-pa-rpt-status>
              </div>
          </div>
      </mat-tab>
      <mat-tab label="Status By User">
        <div class="row">
          <div class="col-md-12">
            <app-pa-rpt-user-status></app-pa-rpt-user-status>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  
  </div>