<div class="container-fluid">
    <h3>File Upload</h3>
    <hr>
    <div class="col-md-8">
        <p>Please select the type of file you are uploading and then select the file to upload and press the upload button.<br/>
        <i> (Note: Uploaded file must match approved format.)  <br/>
            For <strong>PA Request</strong> layout, please download <a href="/assets/pa_request_template.xlsx">PA Request Template</a><br/>
            For <strong>Claims</strong> layout, please download <a href="/assets/claims_template.xlsx">Claims Template</a>
        </i></p>
        <app-uploader></app-uploader>
    </div>
    
    
</div>
